@model IEnumerable<MyDuoCards.Models.DBModels.User>

@{
	ViewData["Title"] = "Users";
}

<h1>Users</h1>

<p>
	<a class="btn btn-success" asp-action="Create">Create New</a>
</p>

<table class="table table-striped">
	<thead>
		<tr>
			<th>
				<span class="text-light">
					<strong>@Html.DisplayNameFor(model => model.Login)</strong>
				</span>
			</th>
			<th>
				<span class="text-light">
					<strong>@Html.DisplayNameFor(model => model.Email)</strong>
				</span>
			</th>
			<th>
				<span class="text-light">
					<strong>@Html.DisplayNameFor(model => model.Role)</strong>
				</span>
			</th>
			<th>
				<span class="text-light">
					<strong>Actions</strong>
				</span>
			</th>
		</tr>
	</thead>
	<tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				<span class="text-light">
					<strong> @Html.DisplayFor(modelItem => item.Login)</strong>
				</span>
			</td>
			<td>
				<span class="text-light">
					<strong>@Html.DisplayFor(modelItem => item.Email)</strong>
				</span>
			</td>
			<td>
				<span class="text-light">
					<strong>@Html.DisplayFor(modelItem => item.Role.Name)</strong>
				</span>
			</td>
			<td>
				<a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
				<a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
				<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
			</td>
		</tr>
}
	</tbody>
</table>

