@model MyDuoCards.Models.DBModels.Dictionary

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Dictionary</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <span class="text-light">
                <strong>@Html.DisplayNameFor(model => model.DictionaryStatement.Name)</strong>
            </span>
        </dt>
        <dd class="col-sm-10">
            <span class="text-dark">
                <strong>@Html.DisplayFor(model => model.DictionaryStatement.Name)</strong>
            </span>
        </dd>
        <dt class="col-sm-2">
            <span class="text-light">
                <strong>@Html.DisplayNameFor(model => model.User)</strong>
            </span>
        </dt>
        <dd class="col-sm-10">
            <span class="text-dark">
                <strong>@Html.DisplayFor(model => model.User.Login)</strong>
            </span>
        </dd>
        <dt class="col-sm-2">
            <span class="text-light">
                <strong>@Html.DisplayNameFor(model => model.EuWord)</strong>
            </span>
        </dt>
        <dd class="col-sm-10">
            <span class="text-dark">
                <strong>@Html.DisplayFor(model => model.EuWord.EnWriting)</strong>
            </span>
        </dd>
    </dl>
    
    <form asp-action="Delete" style="margin-top: 10px">
        <input type="hidden" asp-for="UserId" />
        <input type="hidden" asp-for="EnWordId" />
        <input type="submit" style="margin-right: 10px" value="Delete" class="btn btn-danger" />
        <a class="btn btn-light" asp-action="Index">Back to List</a>
    </form>
</div>
