@model MyDuoCards.Models.DBModels.Dictionary

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dictionary</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <span class="text-light">
                <strong>@Html.DisplayNameFor(model => model.DictionaryStatement.Name)</strong>
            </span>
        </dt>
        <dd class="col-sm-10">
            <span class="text-dark">
                <strong>@Html.DisplayFor(model => model.DictionaryStatement.Name)</strong>
            </span>
        </dd>
        <dt class = "col-sm-2">
            <span class="text-light">
                <strong>@Html.DisplayNameFor(model => model.User)</strong>
            </span>
        </dt>
        <dd class = "col-sm-10">
            <span class="text-dark">
                <strong>@Html.DisplayFor(model => model.User.Login)</strong>
            </span>
        </dd>
        <dt class = "col-sm-2">
            <span class="text-light">
                <strong>@Html.DisplayNameFor(model => model.EuWord)</strong>
            </span>
        </dt>
        <dd class = "col-sm-10">
            <span class="text-dark">
                <strong>@Html.DisplayFor(model => model.EuWord.EnWriting)</strong>
            </span>
        </dd>
    </dl>
</div>

<div class="form-group d-flex" style="margin-top: 10px">
    @Html.ActionLink("Edit", "Edit", new { UserId = Model.UserId, EnWordId = Model.EnWordId }, new { @class = "btn btn-light" })
    <a class="btn btn-light" style="margin-left: 10px" asp-action="Index">Back to List</a>
</div>
