@model IEnumerable<MyDuoCards.Models.DBModels.Dictionary>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DictionaryStatement.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EuWord)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DictionaryStatement.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EuWord.EnWriting)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { UserId = item.UserId, EnWordId = item.EnWordId }) |
                @Html.ActionLink("Details", "Details", new { UserId = item.UserId, EnWordId = item.EnWordId }) |
                @Html.ActionLink("Delete", "Delete", new { UserId = item.UserId, EnWordId = item.EnWordId })
            </td>
        </tr>
}
    </tbody>
</table>
