@model IEnumerable<MyDuoCards.Models.DBModels.Dictionary>

@{
	ViewData["Title"] = "Dictionaries";
}

<h1>Dictionaries</h1>

<p>
	<a class="btn btn-success" asp-action="Create">Create New</a>
</p>

<table class="table table-striped">
	<thead>
		<tr>
			<th>
				<span class="text-light">
					<strong>@Html.DisplayNameFor(model => model.DictionaryStatement.Name)</strong>
				</span>
			</th>
			<th>
				<span class="text-light">
					<strong>@Html.DisplayNameFor(model => model.User)</strong>
				</span>
			</th>
			<th>
				<span class="text-light">
					<strong>@Html.DisplayNameFor(model => model.EuWord)</strong>
				</span>
			</th>
			<th>
				<span class="text-light">
					<strong>Actions</strong>
				</span>
			</th>
		</tr>
	</thead>
	<tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				<span class="text-light">
						<strong>@Html.DisplayFor(modelItem => item.DictionaryStatement.Name)</strong>
				</span>
			</td>
			<td>
				<span class="text-light">
						<strong>@Html.DisplayFor(modelItem => item.User.Login)</strong>
				</span>
			</td>
			<td>
				<span class="text-light">
						<strong>@Html.DisplayFor(modelItem => item.EuWord.EnWriting)</strong>
				</span>
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { UserId = item.UserId, EnWordId = item.EnWordId }, new { @class = "btn btn-warning" })
				@Html.ActionLink("Details", "Details", new { UserId = item.UserId, EnWordId = item.EnWordId }, new { @class = "btn btn-info" })
				@Html.ActionLink("Delete", "Delete", new { UserId = item.UserId, EnWordId = item.EnWordId }, new { @class = "btn btn-danger" })
			</td>
		</tr>
}
	</tbody>
</table>

