@model IEnumerable<MyDuoCards.Models.DBModels.RuWord>

@{
	ViewData["Title"] = "Index";
}

<h1>Favorite dictionary</h1>
@if (User is not null)
{
	<div>
		<h3>@User.Identity!.Name</h3>
		<a asp-action="Logout" asp-controller="Authorization">Logout</a>
	</div>
}

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.RuWriting)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.EnWord.EnWriting)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.RuWriting</td>
				<td>@item.EnWord.EnWriting</td>
			</tr>
		}
	</tbody>
</table>
