@model IEnumerable<MyDuoCards.Models.DBModels.User>

@{
	ViewData["Title"] = "Index";
}

<h1>Registered users</h1>
@if (User is not null)
{
	<div>
		@{var currentUser = Model.FirstOrDefault(u => u.UserLogin == User.Identity!.Name || u.UserEmail == User.Identity!.Name);}
		<h3>@currentUser.UserLogin</h3>
		<a asp-action="Logout" asp-controller="Account">Logout</a>
	</div>
}

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.UserLogin)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UserEmail)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UserPassword)
			</th>
			<th>
				RoleName
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.UserLogin</td>
				<td>@item.UserEmail</td>
				<td>@item.UserPassword</td>
				<td>@item.Role.RoleName</td>
			</tr>
		}
	</tbody>
</table>
