@using MyDuoCards.Helpers
@model IEnumerable<MyDuoCards.Models.DBModels.RuWord>

@{
    ViewData["Title"] = "RuWords";
}

<h1>Russian Words</h1>

<div class="d-flex">
    @{
        int last = 1;
    }
    @if (ViewData["list"] != null && ViewData["searchString"] == null)
    {
        var list = (List<int>)ViewData["list"];
        last = list.Last();
    }
    <a class="btn btn-success" asp-action="Create" asp-route-page="@last" style="margin-right: auto">Create New</a>

    <form asp-controller="RuWords" asp-action="Index" method="get">
        <div class="d-flex">
            <input class="form-control me-sm-2" type="text" name="searchString" value="@ViewData["searchString"]" />
            <input class="btn btn-secondary my-2 my-sm-0" type="submit" value="Filter" />
        </div>
    </form>
</div>

<div class="d-flex" style="margin: 20px auto">
    @{
        var absoluteUri = Context.Request.Scheme + "://" + Context.Request.Host + Context.Request.Path;
    }

    @if (ViewData["list"] != null)
    {
        @foreach (var index in (List<int>)ViewData["list"]!)
        {
            @Html.ButtonView(absoluteUri, index, (int)@ViewData["page"], ViewData["searchString"]?.ToString());
        }
    }
    else
    {
        <h1>We have not cards which contain this substring</h1>
    }
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <span class="text-light">
                    <strong>@Html.DisplayNameFor(model => model.RuWriting)</strong>
                </span>
            </th>
            <th>
                <span class="text-light">
                    <strong>Actions</strong>
                </span>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <span class="text-light">
                     <strong>@Html.DisplayFor(modelItem => item.RuWriting)</strong>
                </span>
            </td>
            <td width="75%">
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id" asp-route-page="@ViewData["page"]" asp-route-searchString="@ViewData["searchString"]">Edit</a>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id" asp-route-page="@ViewData["page"]" asp-route-searchString="@ViewData["searchString"]">Details</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id" asp-route-page="@ViewData["page"]" asp-route-searchString="@ViewData["searchString"]">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
