@model IEnumerable<MyDuoCards.Models.DBModels.DictionaryStatement>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-dark" asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                <span class="text-light">
                    <strong>@Html.DisplayNameFor(model => model.Name)</strong>
                </span>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <span class="text-light">
                    <strong>@Html.DisplayFor(modelItem => item.Name)</strong>
                </span>
            </td>
            <td>
                <a class="btn btn-warning text-dark" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-info text-dark" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-danger text-dark" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
